header {
  background-color: rgb(100, 19, 19);
  padding: 15px;
  color: antiquewhite;
}

h3 {
  text-align: center;
}

#parrafo1 {
  text-align: center;
}

.tarjeta {
  text-align: right;
}

footer {
  text-align: right;
}
